<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jgw.common_library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:name=".base.CustomApplication">
        <provider
            android:name=".provider.CameraFileProvider"
            android:authorities="${applicationId}.app.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album_camera_provider" />
        </provider>
    </application>

</manifest>
